h1.m-4 Learning Platform
= link_to "Privacy Policy" , privacy_policy_path   

i.fa.fa-twitter.text-success
br

= link_to "New Course", new_course_path
br
= link_to "Show this course", @course
br
= link_to "Back to courses", courses_path
